Repository ash-sxn/GSoC-2023-docker-based-quickstart, pull requests merged in 2023-08, with the labels that each got.

#147 Node tutorial URL on gitpod
  05_nodejs/README.md
  docker-compose.yaml
Labels: repo, nodejs

#149 chore(plugins): Plugins update
  03_maven_tutorial/dockerfiles/plugins.txt
  03_maven_tutorial/dockerfiles/update-plugins.sh
Labels: maven_tutorial

#150 Dependabot
  .github/dependabot.yml
  .github/workflows/hadolint.yml
  03_maven_tutorial/Dockerfile
  03_maven_tutorial/dockerfiles/agent/Dockerfile
Labels: maven_tutorial

#155 Plugins update
  04_python_tutorial/dockerfiles/plugins.txt
  05_nodejs/dockerfiles/plugins.txt
Labels: nodejs, python_tutorial

#156 Plugins update
  02_custom_docker_file_connecting_agent_and_controller/dockerfiles/plugins.txt
  dockerfiles/plugins.txt
Labels: docker_file_connecting_agent_and_controller

#159 adding if condition & input id
  05_nodejs/README.md
Labels: nodejs

#162 use prebuild images instead of building them locally
  docker-compose.yaml
Labels: repo

#170 Variable for Docker hub repository
  .env
  docker-compose.yaml
Labels: repo

#163 Removing Reverse Proxy warning only in gitpod
  dockerfiles/jenkins.yaml
  gitpodURL.sh
Labels: repo

#169 adding & updating Readme
  README.md
  build-docker-compose.yaml
Labels: repo
