Repository ash-sxn/GSoC-2023-docker-based-quickstart, pull requests merged in 2023-07, with the labels that each got.

#85 Chore/ updates gitpodURL.sh to work with all examples
  .gitpod.yml
  02_custom_docker_file_connecting_agent_and_controller/gitpodURL.sh
  03_maven_tutorial/gitpodURL.sh
  gitpodURL.sh
Labels: enhancement, chore

#111 chore(docker): Checks on the Python tutorial Dockerfiles
  .github/workflows/hadolint.yml
Labels: enhancement, chore, security

#99 GitHub actions
  .github/workflows/test-jenkins.yml
  03_maven_tutorial/docker-compose.yaml
  docker-compose.yaml
Labels: feature, tests

#125 chore(jenkins): New LTS version
  05_nodejs/dockerfiles/Dockerfile
  05_nodejs/dockerfiles/plugins.txt
Labels: chore, security

#131 chore(docker): Updates the controller and agent images
  01_simple_controller_plus_agent/docker-compose.yaml
Labels: simple_controller_plus_agent

#132 feature(github): Adds release-drafter.
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: feature

#135 feature(github): Adds Anchore
  .github/dependabot.yml
  .github/workflows/anchore.yml
Labels: feature, security, tests

#136 Remove bashfiles
  .gitattributes
  02_custom_docker_file_connecting_agent_and_controller/docker-compose.yaml
  02_custom_docker_file_connecting_agent_and_controller/dockerfiles/Dockerfile
  02_custom_docker_file_connecting_agent_and_controller/dockerfiles/plugins.txt
  03_maven_tutorial/dockerfiles/Dockerfile
  03_maven_tutorial/dockerfiles/plugins.txt
  04_python_tutorial/dockerfiles/Dockerfile
  04_python_tutorial/dockerfiles/plugins.txt
  05_nodejs/dockerfiles/Dockerfile
  05_nodejs/dockerfiles/plugins.txt
  docker-compose.yaml
  dockerfiles/Dockerfile
  dockerfiles/jenkins.yaml
  dockerfiles/maven/Dockerfile
  dockerfiles/node/Dockerfile
  dockerfiles/plugins.txt
  dockerfiles/python/Dockerfile
  dockerfiles/sidekick/Dockerfile
  dockerfiles/sidekick/keygen.sh
  keygen.sh
Labels: enhancement, feature, repo, docker_file_connecting_agent_and_controller, nodejs, maven_tutorial, python_tutorial

#144 Update GitHub actions
  .github/workflows/test-jenkins.yml
  dockerfiles/python/Dockerfile
Labels: test

#145 updating documentation
  README.md
Labels: repo
